:root {
    --blue: #007fed;
    --light-blue: #139ff0;
    --black-transparent: rgb(153, 153, 153);
    --message-color: gray;
}

body {
    background-color: #f7f7f7;;
}

header {
    background-color: var(--black);
}

.job-header {
    background-color: white;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Work Sans';
}

.faixa-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
}

#salvar {
    cursor: pointer;
    transition: all 0.5s;
}

.faixa-header nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

.faixa-header nav a {
    color: gray;
    font-family: 'Work Sans';
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
}

.faixa-header nav a:hover {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    color: black;
}

.faixa-header nav a.faixa-header-selected {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

.faixa-header span {
    margin-left: 30px;
}

#search {
    display: flex;
    font-size: 1.3em;
    font-family: 'DM Sans';
    flex: 1 1 auto;
    height: 100%;
}

#search-filter {
    background-color: #28a745;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    padding: 7px;
    transition: all 0.5s;
    font-family: 'Work Sans';
    font-size: 1em;
}

#search-filter:hover {
    background-color: #218838;
}

#search-submit, #filtro-button, #search-submit-phone, #filtro-button-phone {
    width: 30px;
    margin-left: 20px;
    cursor: pointer;
    z-index: 3;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Work Sans';
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    background-color: #f7f7f7;
}

.main-content  {
    display: flex;
    width: 100%;
    margin-top: 50px;
    height: 100%;
    gap: 30px;
    justify-content: center;
    font-family: 'Work Sans';
}

.filter-area, .filter-area-phone {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    width: 30%;
    max-width: 300px;
    padding-bottom: 20px;
}

.filter-area-phone {
    height: unset;
    max-width: unset;
}


.filter-content h2 {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.filter-content {
    width: 90%;
    height: 100%;
    padding-top: 10px;
    flex-direction: column;
    display: flex;
    gap: 25px;
}

.filter-block {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.filter-block .checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.filter-block-title {
    display: flex;
    justify-content: space-between;
}

.filter-block-title h3 {
    font-size: 1.2em;
}

.button-clear {
    background-color: transparent;
    border: none;
    color: var(--blue);
    cursor: pointer;
    font-size: 1em;
}

.button-clear:hover {
    text-decoration: underline;
    color: var(--light-blue);
}

.price-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.price-box .search-area {
    min-width: 60%;
    margin-top: 5px;
}

.search-area input {
    width: auto;
    padding: 5px;
}

.price-box span {
    font-weight: bold;

}

.search-area img, .job-details img {
    width: 25px;
    height: 25px;
}

.job-area {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    height: 100%;
    min-height: 300px;
    width: 60%;
}

.result-area {
    display: flex;
    align-items: center;
    max-height: 80px;
    flex: 1 auto auto;
    padding-top: 10px;
    margin-left: 20px;
    gap: 20px;
    position: relative;
}

.line-division {
    background-color: gray;
    width: 100%;
    height: 1px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}

.job, .no-job {
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 100%;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: unset;
}
.no-job h3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.no-job {
    justify-content: center;
    cursor: auto;
    align-items: center;
}

.job:hover {
    background-color: #f0f0f0;
}

.background-hover {
    transition: all 0.5s;
}

.background-hover:hover {
    background-color: gray;
    padding: 5px;
    border-radius: 20%;
}

.job nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
}

nav .habilitie {
    color: var(--blue);
    font-family: 'DM Sans';
}

.job h2 {
    padding-left: 30px;
    padding-right: 10px;
    font-weight: normal;
    color: var(--blue);
}

.bid-num {
    font-weight: bold;
    font-size: 1.1em;
}

.job-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0px 20px 0px;
    width: 100%;
}

.job-price, .job-price-phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 30px;

}
.job-price-be-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 30px;
    align-items: center;
    gap: 10px;
}

.job-price-phone {
    display: none;
    align-items: unset;
    padding-left: 30px;
    margin-top: 10px;
}

.job-content {
    padding: 0px 30px 20px 30px;
}

.more {
    color: var(--blue);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
}

.more:hover {
    text-decoration: underline;
    color: var(--light-blue);
}

.classification {
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.classification span {
    padding: 0px 15px 0px 15px;
    font-size: 1.1em;
}

.classification img {
    width: 30px;
    height: 30px;
}

.job-details {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 30px;
}

.job-bid {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.salvar-img-phone {
    display: none;
}

.salvar-img, .salvar-img-phone {
    cursor: pointer;
    z-index: 2;
}

.job-more-area {
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    align-items: center;
    width: 100%;
    min-height: 100px;
}
.job-arrow {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    padding: 7px;
    cursor: pointer;
}

.job-more {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-right: 30px;
}

.number-selected {
    padding: 7px;
    background-color: var(--blue);
    color: white;
    border-radius: 50%;
}

.number-select {
    font-size: 1.3em;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.number-selected:hover {
    background-color: var(--light-blue);
}

#filtro-button, #search-submit-phone, #filtro-button-phone {
    display: none;
}
.bids {
    padding-left: 30px;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
}

.classification-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.job-tag, .be-first {
    padding: 5px;
    border-radius: 10px;
    color: white;
    font-family: 'DM Sans';
    display: flex;
    justify-content: center;
    align-items: center;
}

.job-tags {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    margin: 10px 0px 10px 30px;
}

.recrutamento {
    background-color: var(--purple);
}

.destaque {
    background-color: #f57207;
}

.selado {
    background-color: var(--blue);
}

.urgente {
    background-color: #eb3730;
}

.be-first {
    background-color: var(--blue);
    max-width: unset;
    padding: 10px;
}

.hidden-filter-area {
    z-index: 6;
    position: fixed;
    background-color: white;
    display: none;
    justify-content: center;
    font-family: 'Work Sans';
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#close-filter-area {
    color: white;
    background-color: #eb3730;
    border: 1px solid var(--black);
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-family: 'DM Sans';
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 20%;

}

@media only screen and (max-width: 1000px) {
    .filter-area {
        display: none;
    }

    .job-area {
        width: 90%;
    }
    #filtro-button {
        display: block;
    }

    .job h2 {
        max-width: 90%;
    }

    .job-title {
        max-height: unset;
    }
}

@media only screen and (max-width: 800px) {
    .salvar-img-phone {
        display: block;
        width: 25px;
        height: 25px;
    }

    .salvar-img {
        display: none;
    }

    .job-price h3, .job-price span {
        display: none;
    }

    .job-price-phone {
        display: flex;
    }

    .job nav {
        display: none;
    }

    .job-tag {
        max-width: unset;
    }

    .filter-area-phone {
        width: 100%;
    }

    #close-filter-area {
        left: 5%;
        top: 5%;
    }
}

@media only screen and (max-width: 500px) {
    .classification-area {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .classification {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .faixa-header h1, #search-submit, #filtro-button{
        display: none;
    }

    #search-submit-phone, #filtro-button-phone {
        display: block;
        margin: 0;
    }

    .job-price-be-first {
        padding-right: 0;
    }
}

@media only screen and (max-width: 300px) {
    .job-header {
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}