<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho - Equipe de Freelance</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/simple-header.css">
    <link rel="stylesheet" href="../css/job.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/images/logo_marca_branca.png" alt="Logo Code Company" class="logo">
                <h2>Freelance</h2>
                <span class="beta">Beta</span>
            </a>
        </div>
        <nav class="desktop-nav">
            <a href="/search" class="decoration-hover">Jobs</a>
            <a href="/freelance" target="_blank" class="decoration-hover">Freelance</a>
            <a href="/inbox" class="decoration-hover" target="_blank">Inbox</a>
            <!-- <a href="https://discord.com/api/oauth2/authorize?client_id=1066492672182853642&redirect_uri=http%3A%2F%2F127.0.0.1%3A3000%2Fauth%2F&response_type=token&scope=identify">
                <button class="login-discord neon">
                    <img src="images/discord-icon.png" alt="Discord Icon">
                    Login
                </button>
            </a> -->
            <!-- <a href="#">
                <img src="https://cdn.discordapp.com/avatars/810894152795553863/d8d98dd9b79ee5ef1a41614f8df4d2eb.png?size=1024" alt="Avatar do discord" id="avatar">
            </a> -->
        </nav>
        <nav class="android-nav">
            <img src="../images/menu.png" alt="Mais opções" id="android-menu">
            <div class="menu-android">
                <a href="/search" class="decoration-hover">Jobs</a>
                <a href="/freelance" target="_blank" class="decoration-hover">Freelance</a>
                <a href="/inbox" class="decoration-hover" target="_blank">Inbox</a>
                <!-- <a href="#">
                    <button class="login-discord neon">
                        <img src="images/discord-icon.png" alt="Discord Icon">
                        Login
                    </button>
                </a> -->
                <!-- <a href="#" class="decoration-hover">Minha Conta</a> -->
            </div>
        </nav>
    </header>
    <div class="job-header">
        <div class="faixa-header">
            <h1>Convert pics into digital images for promotion<span>🇧🇷</span></h1>
            <img src="../images/salvar.png" id="salvar" alt="Icone para salvar o trabalho">
        </div>
        <div class="faixa-header">
            <p class="job-status-phone">Awaiting Acceptance</p>
        </div>
        <div class="faixa-header">
            <nav>
                <a href="#">
                    Detalhes
                </a>
                <a href="#" class="faixa-header-selected">
                    Propostas
                </a>
            </nav>
            <p class="job-status">Awaiting Acceptance</p>
        </div>
    </div>
    <main>
        <div class="job-content center">
            <div class="freelancers-area">
                <div class="freelancer">
                    <div class="freelancer-section">
                        <div style="display: flex;gap: 15px;justify-content: center;">
                            <a href="#" class="photo-freelancer">
                                <img src="https://cdn.discordapp.com/avatars/810894152795553863/d8d98dd9b79ee5ef1a41614f8df4d2eb.png?size=1024" alt="Icon do freelancer que fez a proposta">
                            </a>
                            <div class="freelancer-details">
                                <div class="title-freelancer-details">
                                    <h3>ATLAS SOLS LTD</h3>
                                    <a href="#" class="markup">@muhammasahmed</a>
                                </div>
                                <div class="freelancer-classification">
                                    <div class="classification-group-phone" style="gap: 10px;">
                                        <div class="classification-group">
                                            <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                            <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                            <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                            <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                            <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                            <span class="classification-value">4.8</span>
                                        </div>
                                        <div class="classification-group">
                                            <img src="../images/chat.png" alt="Icon de mensagems do freelancer concorrente">
                                            <span class="classification-value">1939</span>
                                        </div>
                                    </div>
                                    <div class="classification-group-phone" style="gap: 10px;">
                                        <div class="classification-group">
                                            <span class="country-emoji">🇮🇳</span>
                                            <span>India</span>
                                        </div>
                                        <div class="freelancer-tags">
                                            <img src="../images/verified.svg" alt="Tag de freelancer verificado" class="verified-tag">
                                            <img src="../images/corporate.svg" alt="Tag de freelancer de corporação" class="corporate-tag">
                                            <img src="../images/preferred.svg" alt="Tag de freelancer preferido" class="preferred-tag">
                                        </div>
                                    </div>
                                </div>
                                <div class="price-area-phone">
                                    <p class="title-price-area">$30.00 USD</p>
                                    <span>Em 1 dia</span>
                                </div>
                                <p class="freelancer-strong">
                                    Web Design/Dev |Mob App Development| Graphics| 3D 
                                </p>
                            </div>
                        </div>
                        <div class="price-area">
                            <p class="title-price-area">$30.00 USD</p>
                            <span>Em 1 dia</span>
                        </div>
                    </div>
                    <div class="freelancer-proposal">
                        Hi Farah M.,
                        wish you a good day

                        we are a team of professional architects /3d designers and we are glad to help you
                        we have checked Design a Islamic bookshop with coffee shop details
                        ----------------------------------------------------------------------
                        https://www.art-studio.online/architecture
                        https://youtu.be/TOxKIIPmNU0?list=PLHfwQngoWfZlzo4hwE3y45KbVOEvzwB8-

                        https://www.art-studio.online/product
                        https://youtu.be/tMMaWIKKQLw?list=PLHfwQngoWfZlynEAWdRDyfigb40dR7RTU
                        ----------------------------------------------------------------------

                        Looking forward to hearing from you and discussing all the details.
                        Thanks
                    </div>
                </div>
            </div>
            <div class="freelancers-area">
                <div class="freelancer">
                    <div class="freelancer-section">
                        <div style="display: flex;gap: 15px;justify-content: center;">
                            <a href="#" class="photo-freelancer">
                                <img src="https://cdn.discordapp.com/avatars/810894152795553863/d8d98dd9b79ee5ef1a41614f8df4d2eb.png?size=1024" alt="Icon do freelancer que fez a proposta">
                            </a>
                            <div class="freelancer-details">
                                <div class="title-freelancer-details">
                                    <h3>ATLAS SOLS LTD</h3>
                                    <a href="#" class="markup">@muhammasahmed</a>
                                </div>
                                <div class="freelancer-classification">
                                    <div style="display: flex;gap: 5px;align-items: center;">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <span class="classification-value">4.8</span>
                                    </div>
                                    <div style="display: flex;gap: 5px;align-items: center;">
                                        <img src="../images/chat.png" alt="Icon de mensagems do freelancer concorrente">
                                        <span class="classification-value">1939</span>
                                    </div>
                                    <div style="display: flex;gap: 5px;align-items: center;">
                                        <span class="country-emoji">🇮🇳</span>
                                        <span>India</span>
                                    </div>
                                </div>
                                <p class="freelancer-strong">
                                    Web Design/Dev |Mob App Development| Graphics| 3D 
                                </p>
                            </div>
                        </div>
                        <div class="price-area">
                            <p class="title-price-area">$30.00 USD</p>
                            <span>Em 1 dia</span>
                        </div>
                    </div>
                    <div class="freelancer-proposal">
                        Hi Farah M.,
                        wish you a good day

                        we are a team of professional architects /3d designers and we are glad to help you
                        we have checked Design a Islamic bookshop with coffee shop details
                        ----------------------------------------------------------------------
                        https://www.art-studio.online/architecture
                        https://youtu.be/TOxKIIPmNU0?list=PLHfwQngoWfZlzo4hwE3y45KbVOEvzwB8-

                        https://www.art-studio.online/product
                        https://youtu.be/tMMaWIKKQLw?list=PLHfwQngoWfZlynEAWdRDyfigb40dR7RTU
                        ----------------------------------------------------------------------

                        Looking forward to hearing from you and discussing all the details.
                        Thanks
                    </div>
                </div>
            </div>
            <div class="freelancers-area">
                <div class="freelancer">
                    <div class="freelancer-section">
                        <div style="display: flex;gap: 15px;justify-content: center;">
                            <a href="#" class="photo-freelancer">
                                <img src="https://cdn.discordapp.com/avatars/810894152795553863/d8d98dd9b79ee5ef1a41614f8df4d2eb.png?size=1024" alt="Icon do freelancer que fez a proposta">
                            </a>
                            <div class="freelancer-details">
                                <div class="title-freelancer-details">
                                    <h3>ATLAS SOLS LTD</h3>
                                    <a href="#" class="markup">@muhammasahmed</a>
                                </div>
                                <div class="freelancer-classification">
                                    <div style="display: flex;gap: 5px;align-items: center;">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <span class="classification-value">4.8</span>
                                    </div>
                                    <div style="display: flex;gap: 5px;align-items: center;">
                                        <img src="../images/chat.png" alt="Icon de mensagems do freelancer concorrente">
                                        <span class="classification-value">1939</span>
                                    </div>
                                    <div style="display: flex;gap: 5px;align-items: center;">
                                        <span class="country-emoji">🇮🇳</span>
                                        <span>India</span>
                                    </div>
                                </div>
                                <p class="freelancer-strong">
                                    Web Design/Dev |Mob App Development| Graphics| 3D 
                                </p>
                            </div>
                        </div>
                        <div class="price-area">
                            <p class="title-price-area">$30.00 USD</p>
                            <span>Em 1 dia</span>
                        </div>
                    </div>
                    <div class="freelancer-proposal">
                        Hi Farah M.,
                        wish you a good day

                        we are a team of professional architects /3d designers and we are glad to help you
                        we have checked Design a Islamic bookshop with coffee shop details
                        ----------------------------------------------------------------------
                        https://www.art-studio.online/architecture
                        https://youtu.be/TOxKIIPmNU0?list=PLHfwQngoWfZlzo4hwE3y45KbVOEvzwB8-

                        https://www.art-studio.online/product
                        https://youtu.be/tMMaWIKKQLw?list=PLHfwQngoWfZlynEAWdRDyfigb40dR7RTU
                        ----------------------------------------------------------------------

                        Looking forward to hearing from you and discussing all the details.
                        Thanks
                    </div>
                </div>
            </div>
            <div class="freelancers-area">
                <div class="freelancer">
                    <div class="freelancer-section">
                        <div style="display: flex;gap: 15px;justify-content: center;">
                            <a href="#" class="photo-freelancer">
                                <img src="https://cdn.discordapp.com/avatars/810894152795553863/d8d98dd9b79ee5ef1a41614f8df4d2eb.png?size=1024" alt="Icon do freelancer que fez a proposta">
                            </a>
                            <div class="freelancer-details">
                                <div class="title-freelancer-details">
                                    <h3>ATLAS SOLS LTD</h3>
                                    <a href="#" class="markup">@muhammasahmed</a>
                                </div>
                                <div class="freelancer-classification">
                                    <div style="display: flex;gap: 5px;align-items: center;">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <span class="classification-value">4.8</span>
                                    </div>
                                    <div style="display: flex;gap: 5px;align-items: center;">
                                        <img src="../images/chat.png" alt="Icon de mensagems do freelancer concorrente">
                                        <span class="classification-value">1939</span>
                                    </div>
                                    <div style="display: flex;gap: 5px;align-items: center;">
                                        <span class="country-emoji">🇮🇳</span>
                                        <span>India</span>
                                    </div>
                                </div>
                                <p class="freelancer-strong">
                                    Web Design/Dev |Mob App Development| Graphics| 3D 
                                </p>
                            </div>
                        </div>
                        <div class="price-area">
                            <p class="title-price-area">$30.00 USD</p>
                            <span>Em 1 dia</span>
                        </div>
                    </div>
                    <div class="freelancer-proposal">
                        Hi Farah M.,
                        wish you a good day

                        we are a team of professional architects /3d designers and we are glad to help you
                        we have checked Design a Islamic bookshop with coffee shop details
                        ----------------------------------------------------------------------
                        https://www.art-studio.online/architecture
                        https://youtu.be/TOxKIIPmNU0?list=PLHfwQngoWfZlzo4hwE3y45KbVOEvzwB8-

                        https://www.art-studio.online/product
                        https://youtu.be/tMMaWIKKQLw?list=PLHfwQngoWfZlynEAWdRDyfigb40dR7RTU
                        ----------------------------------------------------------------------

                        Looking forward to hearing from you and discussing all the details.
                        Thanks
                    </div>
                </div>
            </div>
            <div class="freelancers-area">
                <div class="freelancer">
                    <div class="freelancer-section">
                        <div style="display: flex;gap: 15px;justify-content: center;">
                            <a href="#" class="photo-freelancer">
                                <img src="https://cdn.discordapp.com/avatars/810894152795553863/d8d98dd9b79ee5ef1a41614f8df4d2eb.png?size=1024" alt="Icon do freelancer que fez a proposta">
                            </a>
                            <div class="freelancer-details">
                                <div class="title-freelancer-details">
                                    <h3>ATLAS SOLS LTD</h3>
                                    <a href="#" class="markup">@muhammasahmed</a>
                                </div>
                                <div class="freelancer-classification">
                                    <div style="display: flex;gap: 5px;align-items: center;">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <img src="../images/star-filled.png" alt="Icons de estrela do freelancer concorrente">
                                        <span class="classification-value">4.8</span>
                                    </div>
                                    <div style="display: flex;gap: 5px;align-items: center;">
                                        <img src="../images/chat.png" alt="Icon de mensagems do freelancer concorrente">
                                        <span class="classification-value">1939</span>
                                    </div>
                                    <div style="display: flex;gap: 5px;align-items: center;">
                                        <span class="country-emoji">🇮🇳</span>
                                        <span>India</span>
                                    </div>
                                </div>
                                <p class="freelancer-strong">
                                    Web Design/Dev |Mob App Development| Graphics| 3D 
                                </p>
                            </div>
                        </div>
                        <div class="price-area">
                            <p class="title-price-area">$30.00 USD</p>
                            <span>Em 1 dia</span>
                        </div>
                    </div>
                    <div class="freelancer-proposal">
                        Hi Farah M.,
                        wish you a good day

                        we are a team of professional architects /3d designers and we are glad to help you
                        we have checked Design a Islamic bookshop with coffee shop details
                        ----------------------------------------------------------------------
                        https://www.art-studio.online/architecture
                        https://youtu.be/TOxKIIPmNU0?list=PLHfwQngoWfZlzo4hwE3y45KbVOEvzwB8-

                        https://www.art-studio.online/product
                        https://youtu.be/tMMaWIKKQLw?list=PLHfwQngoWfZlynEAWdRDyfigb40dR7RTU
                        ----------------------------------------------------------------------

                        Looking forward to hearing from you and discussing all the details.
                        Thanks
                    </div>
                </div>
            </div>
            <div class="freelancer-pages">
                <div class="page-number page-number-selected">1</div>
                <div class="page-number">2</div>
                <div class="page-number">3</div>
            </div>
        </div>
        <div class="about-client">
            <div class="bid-area">
                <div class="bid-section">
                    <p>Propostas</p>
                    <p class="bid-section-value">17</p>
                </div>
                <div class="bid-area-line"></div>
                <div class="bid-section">
                    <p>Lance médio</p>
                    <p class="bid-section-value">$30.00 USD</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="logo">
            <a href="/">
                <img src="../images/logo_marca_branca.png" alt="Logo Code Company" class="logo">
                <h2>Code Company</h2>
            </a>
        </div>
        <div id="contato">
            <h3>Redes sociais e contato</h3>
            <a href="https://www.instagram.com/codecompanybrasil/" class="item" target="_blank">
                <img src="../images/instagram.svg" alt="Email Icon" class="icon">
                <p>Instagram</p>
            </a>
            <a href="https://github.com/Code-Company" class="item" target="_blank">
                <img src="../images/github.svg" alt="Email Icon" class="icon">
                <p>Git Hub</p>
            </a>
            <a href="mailto:support@codecompany.org" class="item" target="_blank">
                <img src="../images/envelope.svg" alt="Email Icon" class="icon">
                <p>support@codecompany.org</p>
            </a>
        </div>
    </footer>
    <script src="../js/functions.js"></script>
    <script src="../js/job.js"></script>
    <script>
        const cookies = getCookies()
        var design = new DesignController()
        if (!cookies) {
            design.loginHeaderCelular(false)
            design.loginHeader(false)
        } else {
            requiringDiscord((response) => {
                console.log(response.id)
                design.loginHeader(true, response.avatar, response.id)
                design.loginHeaderCelular(true)
            }, cookies.user)
        }
    </script>
</body>
</html>