<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho - Equipe de Freelance</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/simple-header.css">
    <link rel="stylesheet" href="../css/job.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">
                <img src="/images/logo_marca_branca.png" alt="Logo Code Company" class="logo">
                <h2>Freelance</h2>
                <span class="beta">Beta</span>
            </a>
        </div>
        <nav class="desktop-nav">
            <a href="/search" class="decoration-hover">Jobs</a>
            <a href="/freelance" target="_blank" class="decoration-hover">Freelance</a>
            <a href="/inbox" class="decoration-hover" target="_blank">Inbox</a>
            <!-- <a href="https://discord.com/api/oauth2/authorize?client_id=1066492672182853642&redirect_uri=http%3A%2F%2F127.0.0.1%3A3000%2Fauth%2F&response_type=token&scope=identify">
                <button class="login-discord neon">
                    <img src="images/discord-icon.png" alt="Discord Icon">
                    Login
                </button>
            </a> -->
            <!-- <a href="#">
                <img src="https://cdn.discordapp.com/avatars/810894152795553863/d8d98dd9b79ee5ef1a41614f8df4d2eb.png?size=1024" alt="Avatar do discord" id="avatar">
            </a> -->
        </nav>
        <nav class="android-nav">
            <img src="../images/menu.png" alt="Mais opções" id="android-menu">
            <div class="menu-android">
                <a href="/search" class="decoration-hover">Jobs</a>
                <a href="/freelance" target="_blank" class="decoration-hover">Freelance</a>
                <a href="/inbox" class="decoration-hover" target="_blank">Inbox</a>
                <!-- <a href="#">
                    <button class="login-discord neon">
                        <img src="images/discord-icon.png" alt="Discord Icon">
                        Login
                    </button>
                </a> -->
                <!-- <a href="#" class="decoration-hover">Minha Conta</a> -->
            </div>
        </nav>
    </header>
    <div class="job-header">
        <div class="faixa-header">
            <h1>Convert pics into digital images for promotion<span>🇧🇷</span></h1>
            <img src="../images/salvar.png" id="salvar" alt="Icone para salvar o trabalho">
        </div>
        <div class="faixa-header">
            <p class="job-status-phone">Awaiting Acceptance</p>
        </div>
        <div class="faixa-header">
            <nav>
                <a href="#" class="faixa-header-selected">
                    Detalhes
                </a>
                <a href="#">
                    Propostas
                </a>
            </nav>
            <p class="job-status">Awaiting Acceptance</p>
        </div>
    </div>
    <main>
        <div class="job-content">
            <div class="job-details" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                <div class="job-details-section">
                    <h3>Detalhes do projeto</h3>
                    <h3>$10.00 – 30.00 CAD</h3>
                </div>
                <div class="job-details-content">
                    <p>
                        I am seeking a talented scraping expert to get some information with a script that can put data to a website, with captcha to solve. Script should use an .xlsx Excel file with the input numbers and get back confirmation from the website, options and information, add it to a temp file on each record .xlsx or csv, and finaly the definitive final file .xlsx. Temp file will help in case of interruption, so user can start again without the already uploaded data. The script should open several sessions at the same time. Script should have the requirements installer and all the updates / installs on the same initial script and then the run script so user execute it without extra effort
                    </p>
                    <br>
                    <h3>Habilidades Requisitadas</h3>
                    <div class="skills-select">
                        <a href="#" class="skill">
                            PHP
                        </a>
                        <a href="#" class="skill">
                            Python
                        </a>
                    </div>
                    <br>
                    <h3>Link Freelancer.com</h3>
                    <a href="https://www.freelancer.com/projects/php/Script-with-Python-HTML-Scraping-35836787/details" class="link-job" target="_blank">https://www.freelancer.com/projects/php/Script-with-Python-HTML-Scraping-35836787/details</a>
                </div>
            </div>
            <div class="job-bid">
                <div class="error-message">
                    Campos vazios!
                </div>
                <div class="job-details" style="padding: 0;">
                    <div class="job-details-section">
                        <h3>Faça uma proposta!</h3>
                    </div>
                    <p>Você poderá editar sua oferta até que o projeto seja concedido a alguém.</p>
                </div>
                <form action="/" method="get">
                    <div class="center-proposals">
                        <div class="proposal">
                            <h3>Valor do Lance</h3>
                            <input type="number" name="bidAmount">
                            <span>USD</span>
                        </div>
                        <div class="proposal">
                            <h3>O projeto será entregue em</h3>
                            <input type="number" name="prazo">
                            <span>Days</span>
                        </div>
                    </div>
                    <p>Paid to you: $140.00 - $14.00 fee = $126.00</p>
                    <div class="center-proposal">
                        <div class="proposal">
                            <h3>Descreva sua proposta</h3>
                            <textarea name="proposta" id="proposta" placeholder="O que te faz o melhor candidato para esse projeto?" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                    <br>
                    <h3>Sugira um pagamento por tópicos</h3>
                    <p>Escreva tópicos, ou apenas um tópico</p>
                    <div class="milestones">
                        <input type="text" placeholder="Tarefa">
                        <div class="price-milestone">
                            <span>$</span>
                            <input type="number" name="priceMilestone" id="priceMilestone">
                        </div>
                    </div>
                    <div class="submit-area">
                        <button id="submit">
                            <input type="submit" value="Fazer proposta">
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="about-client">
            <div class="job-details-section">
                <h3>Sobre o cliente</h3>
            </div>
            <div class="client-details">
                <div class="client-phrase">
                    <img src="../images/locations.png" alt="Icone para cidade">
                    <span>Mexico City</span>
                </div>
                <div class="client-phrase">
                    <span class="flag-emoji">🇲🇽</span>
                    <span>Mexico</span>
                </div>
                <div class="client-phrase">
                    <img src="../images/clock.png" alt="Icon de Relógio">
                    <span>Member since Oct 14, 2015</span>
                </div>
                <div class="client-phrase stars">
                    <img src="../images/star-filled.png" alt="Icon de estrela">
                    <img src="../images/star-filled.png" alt="Icon de estrela">
                    <img src="../images/star-filled.png" alt="Icon de estrela">
                    <img src="../images/star-filled.png" alt="Icon de estrela">
                    <img src="../images/star-filled.png" alt="Icon de estrela">
                </div>
            </div>
            <div class="client-phrase">
                <h3>Verificações do Cliente</h3>
            </div>
            <div class="client-details">
                <div class="client-phrase">
                    <img src="../images/correct.png" alt="Icon de certo">
                    <span>Identity verified</span>
                </div>
                <div class="client-phrase">
                    <img src="../images/close.png" alt="Icon de errado">
                    <span>Payment verified</span>
                </div>
                <div class="client-phrase">
                    <img src="../images/correct.png" alt="Icon de certo">
                    <span>Deposit made</span>
                </div>
                <div class="client-phrase">
                    <img src="../images/close.png" alt="Icon de certo">
                    <span>Email verified</span>
                </div>
                <div class="client-phrase">
                    <img src="../images/close.png" alt="Icon de certo">
                    <span>Profile completed</span>
                </div>
                <div class="client-phrase">
                    <img src="../images/close.png" alt="Icon de certo">
                    <span>Phone verified</span>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="logo">
            <a href="/">
                <img src="../images/logo_marca_branca.png" alt="Logo Code Company" class="logo">
                <h2>Code Company</h2>
            </a>
        </div>
        <div id="contato">
            <h3>Redes sociais e contato</h3>
            <a href="https://www.instagram.com/codecompanybrasil/" class="item" target="_blank">
                <img src="../images/instagram.svg" alt="Email Icon" class="icon">
                <p>Instagram</p>
            </a>
            <a href="https://github.com/Code-Company" class="item" target="_blank">
                <img src="../images/github.svg" alt="Email Icon" class="icon">
                <p>Git Hub</p>
            </a>
            <a href="mailto:support@codecompany.org" class="item" target="_blank">
                <img src="../images/envelope.svg" alt="Email Icon" class="icon">
                <p>support@codecompany.org</p>
            </a>
        </div>
    </footer>
    <script src="../js/functions.js"></script>
    <script src="../js/job.js"></script>
    <script>
        const cookies = getCookies()
        var design = new DesignController()
        if (!cookies) {
            design.loginHeaderCelular(false)
            design.loginHeader(false)
        } else {
            requiringDiscord((response) => {
                console.log(response.id)
                design.loginHeader(true, response.avatar, response.id)
                design.loginHeaderCelular(true)
            }, cookies.user)
        }
    </script>
</body>
</html>